@layer base, components, utilities;

@layer base {
    :root {
        --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-sans: ui-sans-serif, system-ui, sans-serif, var(--font-emoji);
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      }
            
      html {
        -webkit-text-size-adjust: 100%;
        font-family: var(--font-sans);
        line-height: 1.5;
        background-color: hsl(45 47% 80%);
        color: hsl(23 92% 25%);
        block-size: 100%;
    }

    body {
      margin: 0;
      min-block-size: 100%;
      display: flex;
      flex-direction: column;
    }

    abbr:where([title]) {
        text-decoration: underline dotted
    }

    a {
      color: hsl(217 90% 30%);
    }

    :where(b, strong) {
        font-weight: bolder
    }

    :where(code,kbd,samp,pre) {
        font-family: var(--font-mono);
        font-size: 1em
    }

    dl > div {
      display: flex;
    }
    dt {
      font-weight:600;
    }
    dd {
      margin-inline-start:0;
    }

    small {
        font-size: 80%
    }

    :where(img, svg, video, canvas, audio, iframe, embed, object) {
        vertical-align: middle;
        display: block
    }

    :where(img, video) {
        max-width: 100%;
        height: auto
    }

    :where(button, input, select, optgroup, textarea, ::file-selector-button) {
        font: inherit;
    }

    textarea {
        resize: vertical
    }

    :where(button, input:where([type=button], [type=reset], [type=submit])) {
        appearance: button
    }

    [hidden]:where(:not([hidden=until-found])) {
        display: none !important
    }

    ::file-selector-button {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }

}

@layer components {
  :where(.header, .main, .footer, .logo) {
    padding: 0.5rem;
  }
  :where(.header, .footer) {
    background-color: hsl(45 47% 85%);
    display: flex;
    flex-wrap: wrap;
  }
  .header {
    box-shadow: 0 1px 3px 0 hsl(45 47% 5% / 10%), 0 1px 2px -1px hsl(45 47% 5% / 10%);
  }
  .nav {
    order: -1;
    display: flex;
    flex-wrap: wrap;
    margin-inline-end: auto;

    a {
        text-decoration: none;
        color: currentColor;
        padding: 0.25rem 1rem;
        border-radius: 0.25rem;
        font-weight: 600;
        display: inline-flex;
        font-size: 1.25rem;

        &:hover {
          background-color: hsl(45 32% 72%)
        }
    }
  }
  .main {
    flex: 1;
    max-inline-size: 48rem;
    inline-size: stretch;
    align-self: center;
  }
  .footer {
    justify-content: space-around;
  }
};

@layer utilities {};