---
layout: "base.njk"
permalink: "/history/"
---

{% set years = [2025, 2024, 2023, 2022] %}

<h1>☕ History</h1>
<p>Previous JavaZone conferences:</p>

<ul class="">
    {% for year in years %}
    <li>
        <a
            href="https://{{year}}.javazone.no"
            rel="noopener noreferrer"
            class=""
        >
            JavaZone {{year}}
        </a>
    </li>
    {% endfor %}
</ul>
