---
layout: "base.njk"
permalink: "/partner/"
---

<h1>JavaZone 2026 partner</h1>
<h2>First partner meeting for JavaZone 2026</h2>
<p>
  It's time to start planning the next JavaZone. If you're interested in being a partner, we'll be holding a meeting to give general information about what it means to be a partner with JavaZone. We'll be going through some practical details such as pricing and important dates throughout 2026. And of course we'll answer any questions you might have.
</p>

<dl>
  <div>
    <dt>Time:</dt>  
    <dd>December 9th 2025 at 14:00</dd>
  </div>
  <div>
    <dt>Place:</dt> 
    <dd>
      <a href="https://maps.app.goo.gl/mApJFGsv4ERNFS7T8">Rebel</a>, Universitetsgata 2, 0164 Oslo
    </dd>
  </div>
</dl>

<p>Even if you've been a partner before, it is still good for you to attend to get the latest information.</p>

<p>Please let us know if you'll be attending.</p>

<p>We'll also publish all information on our website after the meeting.</p>

<a href="https://forms.gle/SLHUdVqC1toU6bcw9">Register here</a>

<h2>Contact Us</h2>

<p>If you have any questions or concerns, please reach out to us at <a href="mailto:partner@java.no">partner@java.no</a>.</p>